<h1><%= @event.event_name %></h1>
<h2>Attendees:</h2>
<ul>
	<% @attendees.each do |attendee| %>
  	<li>
  		<tr>
  			<td><strong><%= attendee.first_name %> <%= attendee.last_name %></strong></td>
  			<td>Email: <%= attendee.email %></td>
  			<td>VIP: <%= attendee.is_vip %></td>
  			<td>Meal Request: <%= attendee.meal_request %></td>
  			<td>External ID: <%= attendee.external_id %></td>
  		</tr>
  	</li>
	<% end %>
</ul>

<h2>Import Attendees</h2>
<%= form_tag import_user_event_attendees_path(current_user, @event), multipart:true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import Attendees" %>
<% end %>

<h2>Tables:</h2>
<ul>
  <% @tables.each do |table| %>
    <li>
      <tr>
        <td><strong><%= link_to table.table_name, user_event_table_path(current_user, @event.id, table.id) %></strong></td>
        <td>Max Seats: <%= table.max_seats %></td>
      </tr>
    </li>
  <% end %>
</ul>